body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  